@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.title {
  @apply text-4xl font-bold pb-6;
}

.divider {
  @apply h-px border-gray-300;
}

.subtitle {
  @apply text-xl font-semibold pb-4;
}

.btn-gray {
  @apply bg-gray-400 text-white;
}
.btn-gray:hover {
  @apply bg-gray-600;
}

input,
select,
textarea {
  @apply border border-gray-300 rounded p-1;
}
